<%= link_to 'Список проектов', projects_path, class: "btn_text_only"%>
<h3>Новый проект</h3>

<br>
<%= form_tag projects_path do %>
    <div class="form_label">
      <span class="form_text">Название проекта</span>
      <%= text_field_tag :input_project_title, nil, placeholder: "Введите название проекта", required: true   %>
      <%= submit_tag "Сохранить", class: "btn_text_only" %>
    </div> 
<% end %>