a, .btn_text_only {
  color: rgb(0, 0, 0);
  text-decoration: dotted;
  transition: all 0.25s;
  
}

a:hover, .btn_text_only:hover, #btn-config-hide:hover, #btn-config-show:hover, #btn-draw-area:hover, #btn-draw-pv:hover   {
  opacity: 0.6;
}

// select, input, .input_text_only:focus {
//   width: 100%;
//   border:0;
//   border-bottom: 1px solid #424242;
//   background: transparent;

//   // border-radius: 5px;
//   outline: none;
//   padding: 10px 0 10px 10px;
//   // font-weight: bold;
// }

.btn, .input_field, .submit {
  background: rgb(119, 119, 119);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  transition: all 0.25s;
  margin: 0 5px 0 0 ;
  font-size: 14px;
}

.btn:hover, .submit:hover  {
  background: rgb(0, 168, 56);
  cursor: pointer;
  opacity: 0.8;
}

input,
output {
  display: inline-block;
  vertical-align: middle;
}

output {
  background: #2f00ff;
  border: none;
  background: transparent;
  outline: none;
  padding: 10px 10px 10px 10px;
}

input[type="range"] {
  // -webkit-appearance: none;
  margin-right: 15px;
  width: 80%;
  height: 7px;
  background: rgba(141, 141, 141, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 18.75px);
}
  
.toggler-wrapper .toggler-knob {
  width: 12.5px;
  height: 12.5px;
  top: 50%;
  left: 6.25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
}

.form_radio_group {
	display: inline-block;
	overflow: hidden;
}

.form_radio_group-item {
	float: left;    
}

.form_radio_group input[type=radio] {
	display: none;
}

.form_radio_group label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-right: none;
	user-select: none;
}

.form_radio_group .form_radio_group-item:first-child label {
	border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_group-item:last-child label {
	border-radius: 0 6px 6px 0;
	border-right: 1px solid #999;
}

.form_radio_group input[type=radio]:checked + label {
	background: rgb(0, 168, 56);
	opacity: 0.8;
	color: #fff;
}

.form_radio_group label:hover {
	color: #666;
}

.form_radio_group input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

.checkbox-title {
	margin: 0 0 0 8px;
}

#btn-config-show {
	position: absolute;
	z-index: 1;
	background: whitesmoke;
	color: #000000;
	padding: 5px 9px 4px 9px;
	border: none;
	border-radius: 10px;
	top: 10px;
	left: 8px;
	font-size: large;
	transition: all 0.25s;
}

#btn-config-hide {
	position: absolute;
	// z-index: 2;
	background: transparent;
	color: #000000;
	padding: 5px 9px 4px 9px;
	border: none;
	border-radius: 10px;
	top: 10px;
	right: 6px;
	// margin-right: 10px;
	font-size: large;
	transition: all 0.25s;
}

.icon {
	width: 12px;
}

.icon-draw {
	width: 15px;
}

#btn-draw-area {
	padding: 6px 7.5px 5px 7.5px;
	bottom: 105px;
}

#btn-draw-pv {
	padding: 5px 7.5px 5px 7.5px;
	bottom: 70px;
}

#btn-draw-distance {
	padding: 6px 7.5px 5px 7.5px;
	bottom: 140px;
}

#btn-load-image {
	padding: 6px 7.5px 5px 7.5px;
	bottom: 175px;
}


.btns_map_right {
  position: absolute;
	z-index: 1;
	background: whitesmoke;
	color: #000000;
	border: none;
	border-radius: 6px;
	font-size: large;
	transition: all 0.25s;
  right: 8.5px;
}

.active_btn {
  background:rgb(119, 119, 119);
}

.btns_map_right:hover{
  cursor: pointer;
  background: #cacaca;
}

.btn_text_only {
  margin: 0;
  padding: 0 5px 0 0;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 0.95em;
}

.input_text_only {
  margin: 0 5px 0 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 100%;
}