<%= render "pdf_gen" %>
<br>
<%# <div id="map_not_display"></div> %>
<div id="map_not_display"></div>
<%# <div><img id="image_project"/></div>
<div><img id="image_pv"/></div>
<div><img id="image_table"/></div> %>